<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h1 class="title txt-ctr-align">
    <button class="button button-clear float-left m-top1" ng-click="pgc.hidePGModal()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
    </h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <!--<div class="consents-msg txt-ctr-align">
        <img src="./img/right-tick.png" alt="" />
      </div>-->
      <div class="consents-msg txt-ctr-align">
        <i class="icon ion-checkmark-round txt-color xxx-large"></i>
      </div>
      <div class="padding gray-clr txt-ctr-align">
        Transaction successfully completed!
      </div>
      <div class="padding">
        <button class="button button-full button-small button-royal" ng-click="pgc.goHome()">
          Home page
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
